{{- if and (ne .Values.auth.type "none") (not .Values.auth.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "prometheus-mcp-server.fullname" . }}-auth
  labels:
    {{- include "prometheus-mcp-server.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{ .Values.auth.authTypeKey }}: {{ .Values.auth.type | quote }}
  {{- if eq .Values.auth.type "basic" }}
  {{ .Values.auth.usernameKey }}: {{ .Values.auth.username | quote }}
  {{ .Values.auth.passwordKey }}: {{ .Values.auth.password | quote }}
  {{- end }}
  {{- if eq .Values.auth.type "bearer" }}
  {{ .Values.auth.tokenKey }}: {{ .Values.auth.token | quote }}
  {{- end }}
{{- end }}
---
{{- if and (or .Values.tls.caCert .Values.tls.clientCert) (not .Values.tls.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "prometheus-mcp-server.fullname" . }}-tls
  labels:
    {{- include "prometheus-mcp-server.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.tls.caCert }}
  ca.crt: {{ .Values.tls.caCert }}
  {{- end }}
  {{- if .Values.tls.clientCert }}
  client.crt: {{ .Values.tls.clientCert }}
  {{- end }}
  {{- if .Values.tls.clientKey }}
  client.key: {{ .Values.tls.clientKey }}
  {{- end }}
{{- end }}
